In [1]:
import duckdb
import pandas as pd

In [2]:
db_path = "../../data/analytics.duckdb"
conn = duckdb.connect(db_path)

In [3]:
def query(param: str) -> None:
    result = conn.execute(param).df()
    print(result)

In [4]:
gender_counts = pd.DataFrame({
    'Gender': ['M', 'F'],
    'Count': [502, 395]
})

In [5]:
conn.execute("CREATE OR REPLACE TABLE gender_counts AS SELECT * FROM gender_counts")

In [6]:
conn.execute("SELECT * FROM gender_counts").fetchdf()

  Gender  Count
0      M    502
1      F    395

In [7]:
agegroup_stats = pd.DataFrame({
    'Age_group': ['0-15', '16-18', '19-25', '26-50', '51-100', '100+'],
    'Screentime_mins': [197.872340, 184.872611, 199.145299, 194.100000, 75.000000, 180.000000],
    'Attention_span_mins': [21.824074, 19.424528, 21.161247, 21.339228, 16.333333, 22.500000]
})

In [9]:
conn.execute("CREATE OR REPLACE TABLE agegroup_stats AS SELECT * FROM agegroup_stats")

In [10]:
conn.execute("SELECT * FROM agegroup_stats").fetchdf()

  Age_group  Screentime_mins  Attention_span_mins
0      0-15       197.872340            21.824074
1     16-18       184.872611            19.424528
2     19-25       199.145299            21.161247
3     26-50       194.100000            21.339228
4    51-100        75.000000            16.333333
5      100+       180.000000            22.500000

In [11]:
zone_df = pd.DataFrame({
    'Zone_of_Residence': [
        'Motijheel', 'Farmgate', 'Shahbagh', 'Tejgaon', 'Mohammadpur',
        'Ramna', 'Bailey Road', 'Bashabo', 'Dhanmondi', 'Malibagh',
        'Gulistan', 'Jigatola', 'Jatrabari', 'Khilgaon', 'Siddheshwari',
        'Wari', 'Secretariat'
    ],
    'Count': [
        111, 108, 99, 98, 89, 36, 36, 34, 34, 33,
        33, 32, 32, 31, 31, 31, 29
    ]
})

In [12]:
conn.execute("CREATE OR REPLACE TABLE zone_distribution AS SELECT * FROM zone_df")

In [13]:
zone_stats_df = pd.DataFrame({
    'Zone_of_Residence': [
        'Bailey Road', 'Bashabo', 'Dhanmondi', 'Farmgate', 'Gulistan', 'Jatrabari',
        'Jigatola', 'Khilgaon', 'Malibagh', 'Mohammadpur', 'Motijheel', 'Ramna',
        'Secretariat', 'Shahbagh', 'Siddheshwari', 'Tejgaon', 'Wari'
    ],
    'Screentime_mins': [
        239.142857, 203.437500, 170.322581, 187.135922, 235.312500, 183.500000,
        166.451613, 192.580645, 193.636364, 185.755814, 182.571429, 180.909091,
        193.965517, 208.681319, 198.750000, 193.917526, 215.806452
    ],
    'Attention_span_mins': [
        23.958333, 20.088235, 19.985294, 20.657407, 16.621212, 16.234375,
        22.937500, 20.032258, 20.045455, 23.202247, 22.454955, 21.361111,
        22.189655, 19.944444, 16.758065, 21.153061, 22.774194
    ]
})

In [14]:
conn.execute("CREATE OR REPLACE TABLE zone_stats AS SELECT * FROM zone_stats_df")

In [17]:
reason_df = pd.DataFrame({
    'Reason_of_low_attention_span': [
        'Smartphones & Social Media',
        'Stress & Anxiety',
        'Lack of Sleep & Poor Health',
        'Multitasking',
        'Relationship',
        'Lack of Goal Clarity',
        'Family Problems'
    ],
    'Count': [217, 148, 143, 116, 98, 88, 87]
})

conn.execute("CREATE OR REPLACE TABLE reason_stats AS SELECT * FROM reason_df")

In [18]:
reason_span_attention_df = pd.DataFrame({
    'Reason_of_low_attention_span': [
        'Family Problems',
        'Lack of Goal Clarity',
        'Lack of Sleep & Poor Health',
        'Multitasking',
        'Relationship',
        'Smartphones & Social Media',
        'Stress & Anxiety'
    ],
    'Screentime_mins': [
        198.035714,
        212.678571,
        193.905109,
        191.739130,
        186.521739,
        198.677885,
        182.500000
    ],
    'Attention_span_mins': [
        16.867816,
        21.647727,
        21.143357,
        17.543103,
        23.030612,
        22.267281,
        22.050676
    ]
})

# Create or replace table
conn.execute("CREATE OR REPLACE TABLE reason_span_attention_stats AS SELECT * FROM reason_span_attention_df")

In [19]:
zone_reason_counts = pd.DataFrame({
    'Zone_of_Residence': [
        'Bailey Road', 'Bashabo', 'Dhanmondi', 'Farmgate', 'Gulistan',
        'Jatrabari', 'Jigatola', 'Khilgaon', 'Malibagh', 'Mohammadpur',
        'Motijheel', 'Ramna', 'Secretariat', 'Shahbagh', 'Siddheshwari',
        'Tejgaon', 'Wari'
    ],
    'Family_Problems': [5, 2, 4, 12, 5, 1, 3, 3, 3, 10, 9, 2, 2, 11, 0, 9, 6],
    'Lack_of_Goal_Clarity': [0, 3, 1, 11, 7, 4, 2, 3, 3, 15, 9, 2, 2, 10, 4, 9, 3],
    'Lack_of_Sleep_Poor_Health': [7, 7, 5, 18, 2, 4, 8, 7, 6, 13, 19, 7, 7, 15, 6, 8, 4],
    'Multitasking': [3, 8, 2, 17, 1, 4, 6, 2, 5, 10, 19, 8, 4, 7, 2, 13, 5],
    'Relationship': [6, 4, 4, 11, 3, 3, 2, 1, 1, 8, 11, 7, 3, 15, 4, 12, 3],
    'Smartphones_Social_Media': [10, 7, 9, 19, 11, 8, 10, 8, 10, 17, 24, 6, 9, 22, 9, 30, 8],
    'Stress_Anxiety': [5, 3, 9, 20, 4, 8, 1, 7, 5, 16, 20, 4, 2, 19, 6, 17, 2]
})

# Create or replace table
conn.execute("CREATE OR REPLACE TABLE zone_reason_counts AS SELECT * FROM zone_reason_counts")

In [20]:
gender_reason_counts = pd.DataFrame({
    'Gender': ['F', 'M'],
    'Family_Problems': [40, 47],
    'Lack_of_Goal_Clarity': [38, 50],
    'Lack_of_Sleep_Poor_Health': [55, 88],
    'Multitasking': [55, 61],
    'Relationship': [46, 52],
    'Smartphones_Social_Media': [90, 127],
    'Stress_Anxiety': [71, 77]
})

# Create or replace the table
conn.execute("CREATE OR REPLACE TABLE gender_reason_counts AS SELECT * FROM gender_reason_counts")

In [21]:
agegroup_reason_counts = pd.DataFrame({
    'Age_group': ['0-15', '16-18', '19-25', '26-50', '51-100', '100+'],
    'Family_Problems': [9, 19, 29, 30, 0, 0],
    'Lack_of_Goal_Clarity': [3, 11, 35, 39, 0, 0],
    'Lack_of_Sleep_Poor_Health': [11, 29, 46, 55, 1, 1],
    'Multitasking': [6, 27, 50, 33, 0, 0],
    'Relationship': [1, 15, 49, 33, 0, 0],
    'Smartphones_Social_Media': [19, 30, 93, 74, 1, 0],
    'Stress_Anxiety': [5, 28, 67, 47, 1, 0]
})

# Create or replace table
conn.execute("CREATE OR REPLACE TABLE agegroup_reason_counts AS SELECT * FROM agegroup_reason_counts")

In [22]:
conn.execute("SHOW TABLES").fetchdf()

                          name
0       agegroup_reason_counts
1               agegroup_stats
2                gender_counts
3         gender_reason_counts
4  reason_span_attention_stats
5                 reason_stats
6            zone_distribution
7           zone_reason_counts
8                   zone_stats

In [23]:
conn.close()